/* Styles the whole slider */
.mySliders{
    width: 300px;
    height: 5px;
    background-color: #6b40e0;
    
    /* Removes some defaults */
    -webkit-appearance: none;
  }

  .mySliders::-webkit-slider-thumb {
    width: 25px;
    height: 25px;
    background: #6b40e0;
    cursor: pointer;
    -webkit-appearance: none;
    
    /* negative top padding moves it up */
    margin-top: -3px;
  
    
    /* Border radius gives rounded corners, if they're big enough, you end up with circles */
    border-radius: 2px;
    
  }